{layout name="layout/layout" /}
        <!--右侧主题部分 start-->
        <div class="col-xs-12 col-sm-9 col-lg-10">
            <ol class="breadcrumb" style="background-color: #f9f9f9;padding:8px 0;margin-bottom:10px;">
                <li>
                    <a href=""><i class="fa fa-cogs"></i>
                        管理员管理</a>
                </li>
                <li class="active">
                    <a href="">管理员添加</a>
                </li>

            </ol>
            <ul class="nav nav-tabs" role="tablist">
                <li><a href="<?php echo url('index');?>">管理员列表</a></li>
                <li class="active"><a href="">添加管理员</a></li>
            </ul>
            <form class="form-horizontal" id="form" action="" method="post">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">管理员管理</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">管理员名称</label>
                            <div class="col-sm-9">
                                <input type="text" name="user"  class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">密码</label>
                            <div class="col-sm-9">
                                <input type="text" name="password"  class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">确认密码</label>
                            <div class="col-sm-9">
                                <input type="text" name="confirm_password"  class="form-control" placeholder="">
                            </div>
                        </div>
                     </div>
                </div>
                <button class="btn btn-primary" type="submit">确定</button>
            </form>

        </div>

