{layout name="layout/layout" /}
        <!--右侧主题部分 start-->
        <div class="col-xs-12 col-sm-9 col-lg-10">
            <ol class="breadcrumb" style="background-color: #f9f9f9;padding:8px 0;margin-bottom:10px;">
                <li>
                    <a href=""><i class="fa fa-cogs"></i>
                        友情链接管理</a>
                </li>
                <li class="active">
                    <a href="">友情链接编辑</a>
                </li>

            </ol>
            <ul class="nav nav-tabs" role="tablist">
                <li><a href="<?php echo url('index');?>">友情链接列表</a></li>
                <li class="active"><a href="">编辑友情链接</a></li>
            </ul>
            <form class="form-horizontal" id="form" action="" enctype="multipart/form-data" method="post">
            	<input type="hidden" name="id" value="{$info.id}" >
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">友情链接管理</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">友情链接名称</label>
                            <div class="col-sm-9">
                                <input type="text" name="name"  value="{$info.name}" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">链接地址</label>
                            <div class="col-sm-9">
                                <input type="text" name="url"  class="form-control" value="{$info.url}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">图片</label>
                            <div class="col-sm-9">
                                <input type="file" name="image"   placeholder="">
                                <?php if($info['image']): ?><img src="/{$info.image}" height="40"><?php else: ?>暂无缩略图<?php endif; ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">排序</label>
                            <div class="col-sm-9">
                                <input type="text" name="sort"  value="{$info.sort}" class="form-control" placeholder="">
                            </div>
                        </div>
                     </div>
                </div>
                <button class="btn btn-primary" type="submit">确定</button>
            </form>

        </div>

